--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

beautifulsoup4>=4.14.3
google-genai>=1.56.0
gradio>=6.2.0
langchain>=1.2.0
langchain-google-genai>=4.1.2
langchain-text-splitters>=1.1.0
markdown>=3.10.2
pypandoc>=1.16.2
python-dotenv>=1.2.1
torch>=2.10.0
trafilatura>=1.4.0
transformers>=5.2.0